asgiref==3.2.10
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==3.4.7
cycler==0.10.0
defusedxml==0.7.1
Django==3.1.1
django-braces==1.14.0
django-cors-headers==3.7.0
django-oauth-toolkit==1.5.0
django-rest-framework-social-oauth2==1.1.0
djangorestframework==3.12.4
djangorestframework-simplejwt==4.4.0
drf-yasg==1.20.0
idna==2.10
imutils==0.5.3
inflection==0.5.1
itypes==1.2.0
Jinja2==2.11.3
jwcrypto==0.8
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.1
numpy==1.17.3
oauthlib==3.1.0
opencv-python==4.1.1.26
packaging==20.9
Pillow==7.2.0
pycparser==2.20
PyJWT==1.7.1
pyparsing==2.4.2
python-dateutil==2.8.0
python3-openid==3.2.0
pytz==2020.1
PyYAML==5.4.1
redis==3.5.3
requests==2.25.1
requests-oauthlib==1.3.0
ruamel.yaml==0.17.4
ruamel.yaml.clib==0.2.2
six==1.12.0
social-auth-app-django==4.0.0
social-auth-core==4.1.0
sqlparse==0.3.1
twilio==6.56.0
uritemplate==3.0.1
urllib3==1.26.4
